.outer_div{
    height: 100vh;
    width: 100vw;
}
.flex_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_form {
    flex-direction: column;
    height: 50vh;
    width: 50vh;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: start  ;
    justify-content: left;
    margin: 10px 0 10px 0;
}

.submit_button{
    margin: 10px 0 0 0 ;
}